<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <title>Curriculum vitae</title>

 </head>
  <body>
    <div class="contenedor">
    <div class="">
        <h2>JOSÉ ENRIQUE GALINDEZ ALVAREZ</h2>
        <h2>Programación</h2>
        <ul>
            <li>C.I: 30.016.640</li>
            <li>Estado aragua, la victoria</li>
            <li>Joseenriquegalindez@gmail.com</li>
            <li>0412-4395734</li>
            <li>Bachiller graduado en la U.E.P Colegio Santa Teresa</li>
            <li>Red social:</li><a href= https://www.facebook.com/jose.galindezalvarez>Facebook</a>
            <a href=https://www.instagram.com/joseenriquegalindez/ >Instagram </a>
                                     
        </ul>
     </div>
    <p class="borde"></p>
    <div>
        <h2>Experiencia laboral</h2>
        <ul>

        <li>Sigma studios-Desarrollador web.</li>
        <li>Movistar-Desarrollador de software.</li>
        <li>Oko tecnology-Programador.</li>
        <li>UNICON-Ingenieria eléctrica.</li>
        </ul>
    </div>
    <p class="borde"></p>
    <div>
        <h2>Habilidades y destrezas</h2>
        <ul>

        <li>Excelente adaptabilidad.</li>
        <li>Mucha concentración.</li>
        <li>Trabajo en equipo.</li>
        <li>Capacidad de innovación y para crear nuevos proyectos.</li>
        </ul>
    </div>
       <p class="borde"></p>
         <div>
                   <h2>Imagen de algún proyecto realizado</h2>
                   <div class="imagentrabajo">
<p> Mi primer desarrollo de software</p>
                   </div>
               <div class="imagenex">
              <img src="codigo.jpg" alt="">
         </div>
         <p class="borde"></p>
         <div>
            <h2>Ultima experiencia laboral/proyecto/cargo</h2>
            <p>Mi ultima experiencia laboral fue hace 3 meses en la empresa de desarrollo industrial UNICON, el cargo que ejercia era de ingeniero eléctrico, mi ultimo proyecto realizado con ellos fue la construcción de tableros eléctricos.</p>
         </div>
     </div>
 </div>

 </body>
</html>


